{% extends 'mechbase.html' %}
{% block title%}
  About Us!
{% endblock %}
{% block content %}
<br><br>
<div class="card text-center mx-auto" style="width: 1200px">
  <div class="card-header">
    <h3>About Us</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Our Mission</h5>
    <p class="card-text">
      "At DesignYourMachine.in, we are dedicated to relieving mechanical design engineers of the tedious and 
      repetitive calculation processes involved in designing and selecting mechanical components from OEM catalogs. 
      This allows engineers to invest their time in more critical aspects of the design process and save valuable man-hours."
    </p>
    <h5 class="card-title">Our Vision</h5>
    <p class="card-text">
      "Our vision is to provide engineers with automation in mechanical analysis and application-specific material 
      selection criteria, enabling them to make more accurate decisions while designing a machine and provide quality delivery of the product."
    </p>
  </div>
</div>
{% endblock %}
