{% extends 'mechbase.html' %}
{% block title %}
  Beam Design
{% endblock %}
{% block content %}
<head>
<style>
  #table {
    padding-right: 100px;
  }
</style>
</head>
<div class="mb-3 mt-5">
  <h3>Simply Supported Beam Design</h3>
</div>
<form>
  <div class="mb-3 row">
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="beamlength" class="col-sm-3 col-form-label">Beam Length:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" class="form-control form-control-sm" id='beamlength' name='beamlength' placeholder="in mm">
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 row">  
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="supportnum" class="col-sm-3 col-form-label">Support Number:</label>
        <div class="col-sm-3">
          <input type='number' step="1" min="1" max="2" class="form-control form-control-sm" id='supportnum' name='supportnum' onkeyup="support();">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="loadnum" class="col-sm-3 col-form-label">Load Number:</label>
        <div class="col-sm-3">
          <input type='number' step="1" min="0" max="6" class="form-control form-control-sm" id='loadnum' name='loadnum' onkeyup="load();">
        </div>
      </div>
    </div>
  </div>
</form>
<h4>More Input Parameters</h4>
<table id="supportTable" class="table table-hover table-dark mb-3" style= 'width:500px'>
</table>
<table id="loadTable" class="table table-hover table-dark mb-3" style= 'width:500px'>
</table>
<br>
<button id = 'submit' type="submit" >SUBMIT</button>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
  function support() {
    // Get the number of rows from the user input
    var numRows = document.getElementById("supportnum").value;
    // Create a table element
    var table = document.getElementById("supportTable");
    table.innerHTML = "";
    // Add table headers
    var header = table.createTHead();
    var headerRow = header.insertRow();
    headerRow.innerHTML = "<th>SNo</th><th>Support location</th><th>Support Type</th><th>Support Direction</th>"
    // Add table rows and columns with serial number
    for (var i = 0; i < numRows; i++) {
      var row = table.insertRow();
      var cell1 = row.insertCell();
      cell1.innerHTML = i + 1;
      var cell2 = row.insertCell();
      cell2.innerHTML = "<td><input name='supportloc' type='number' placeholder='from left end (in mm)'></td>";
      var cell3 = row.insertCell();
      cell3.innerHTML = "<td><input name='supporttype' type='text'></td>";
      var cell4 = row.insertCell();
      cell4.innerHTML = "<td><input name='supportdirec' type='text'></td>";
    }
  }
  function load() {
    // Get the number of rows from the user input
    var numRows = document.getElementById("loadnum").value;
    // Create a table element
    var table = document.getElementById("loadTable");
    table.innerHTML = "";
    // Add table headers
    var header = table.createTHead();
    var headerRow = header.insertRow();
    headerRow.innerHTML = "<th>SNo</th><th>Load location</th><th>Load Type</th><th>Load Direction</th><th>Load Value</th>"
    // Add table rows and columns with serial number
    for (var i = 0; i < numRows; i++) {
      var row = table.insertRow();
      var cell1 = row.insertCell();
      cell1.innerHTML = i + 1;
      var cell2 = row.insertCell();
      cell2.innerHTML = "<td><input name='loadloc' type='number' placeholder='from left end in mm'></td>";
      var cell3 = row.insertCell();
      cell3.innerHTML = "<td><input name='loadtype' type='text'></td>";
      var cell4 = row.insertCell();
      cell4.innerHTML = "<td><input name='loaddirec' type='text'></td>";
      var cell4 = row.insertCell();
      cell4.innerHTML = "<td><input name='loadvalue' type='number' placeholder='in kN'></td>";
    }
  }
</script>
<script>
  $("#submit").on('click',function(){
    var arrData=[];
    // loop over each table row (tr)
    $("#supportTable tr").each(function(){
          var currentRow=$(this);
          var col1_value=currentRow.find("td:eq(0)").text();
          var col2_value=currentRow.find("td:eq(1)").text();
          var col3_value=currentRow.find("td:eq(2)").text();
          var col4_value=currentRow.find("td:eq(3)").text();
          var obj={};
          obj.col1=col1_value;
          obj.col2=col2_value;
          obj.col3=col3_value;
          obj.col4=col4_value;
          arrData.push(obj);
    });
    console.log(arrData);
    $.ajax({
      type: "POST",
      url: "/beamd_cal",
      data: {arrData: arrData},
      success: function(response) {
        console.log(response);
      }
    });
  });
</script>
{% endblock %}
