{% extends 'mechbase.html' %}
{% block title %}
  Beam Design
{% endblock %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
  #table {
    padding-right: 100px;
  }
</style>
</head>
<div class="mb-3 mt-5">
  <h3>Simply Supported Beam Design</h3>
</div>
<!--<span>Beam Length (mm):</span>
<input id="lengthValue">
<span>Support</span>
<input onkeyup="support();" id="supportValue">
<span>Load</span>
<input onkeyup="load();" id="loadValue">-->

<form method="POST" action="{{ url_for('beamd_cal') }}">
  <div class="mb-3 row">
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="beamlength" class="col-sm-3 col-form-label">Beam Length:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" class="form-control form-control-sm" id='beamlength' name='beamlength' placeholder="in mm">
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 row">  
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="supportnum" class="col-sm-3 col-form-label">Support Number:</label>
        <div class="col-sm-3">
          <input type='number' step="1" min="1" max="2" class="form-control form-control-sm" id='supportnum' name='supportnum' onkeyup="support();">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="loadnum" class="col-sm-3 col-form-label">Load Number:</label>
        <div class="col-sm-3">
          <input type='number' step="1" min="0" max="6" class="form-control form-control-sm" id='loadnum' name='loadnum' onkeyup="load();">
        </div>
      </div>
    </div>
  </div>
</form>

<form method="POST" action="{{ url_for('beamsolu_cal') }}">
  <table id="supportTable" class="table table-hover table-dark" style= 'width:900px'>
    <tr>
      <!-- Your Columns HERE -->
      <th>Serial No</th>
      <th>Support location from left end (in mm)</th>
      <th>Type of Support</th>
      <th>Direction of the Support</th>
    </tr>
    <tr id = "t1">
      <td>Support Details</td>
      <td><input class = "supportloc" name="supportloc" type="text"></td>
      <td><input class = "supporttype" name="supporttype" type="text"></td>
      <td><input class = "supportdirec" name="supportdirec" type="text"></td>
    </tr>
  </table>

  <br><br><br>
  <table id="loadTable" class="table table-hover table-dark" style= 'width:1100px'>
    <tr>
      <!-- Your Columns HERE -->
      <th>Serial No</th>
      <th>Load location from left end (in mm)</th>
      <th>Type of Load</th>
      <th>Direction of Load</th>
      <th>Load value (in kN)</th>
    </tr>
    <tr id = "t2">
      <td>Load Details</td>
      <td><input class = "loadloc" name="loadloc" type="text"></td>
      <td><input class = "loadtype" name="loadtype" type="text"></td>
      <td><input class = "loaddirec" name="loaddirec" type="text"></td>
      <td><input class = "loadvalue" name="loadvalue" type="text"></td>
    </tr>
  </table>
  <br>
  <button id = 'submit' type="submit" >SUBMIT</button>
</form>
<br>
<script>
  function support() {
    var numSupportRows = $('#supportnum').val();
    for(var i=1;i<numSupportRows;i++){
      $('#supportTable').append('<tr><td>Support Details</td><td><input class = "supportloc" name="supportloc" type="text"></td><td><input class = "supporttype" name="supporttype" type="text"></td><td><input class = "supportdirec" name="supportdirec" type="text"></td></tr>');
    }
  }
  function load() {
    var numLoadRows = $('#loadnum').val();
    for(var i=1;i<numLoadRows;i++){
      $('#loadTable').append('<tr><td>Load Details</td><td><input class = "loadloc" name="loadloc" type="text"></td><td><input class = "loadtype" name="loadtype" type="text"></td><td><input class = "loaddirec" name="loaddirec" type="text"></td><td><input class = "loadvalue" name="loadvalue" type="text"></td></tr>');
    }
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
  
    $("#submit").on('click',function(){
    
      var arrData=[];
      // loop over each table row (tr)
      $("#supportTable tr").each(function(){
        var currentRow=$(this);
        var col1_value=currentRow.find("td:eq(0)").text();
        var col2_value=currentRow.find("td:eq(1)").text();
        var col3_value=currentRow.find("td:eq(2)").text();
    
        var obj={};
        obj.col1=col1_value;
        obj.col2=col2_value;
        obj.col3=col3_value;
    
        arrData.push(obj);
      });
      alert(arrData);
      console.log(arrData);
    });
  });
</script>

{% endblock %}
