{% extends 'mechbase.html' %}
{% block title %}
  Ball Bearing Selector
{% endblock %}
{% block content %}
<head>  
  <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>

  <div class="mb-3 mt-5">
    <h4>Enter Application Specific Parameters</h4>
  </div>
</head>

<form>
  <div class="mb-3 row">
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="shaftdia" class="col-sm-6 col-form-label">Shaft Bore Diameter:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='shaftdia' name='shaftdia' placeholder="in mm">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="ang_velo" class="col-sm-6 col-form-label">Operational Angular Velocity:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='ang_velo' name='ang_velo' placeholder="in RPM">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="vfc" class="col-sm-6 col-form-label">Radial Load - Vertical Component:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='vfc' name='vfc' placeholder="in kN">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="hfc" class="col-sm-6 col-form-label">Radial Load - Horizontal Component:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='hfc' name='hfc' placeholder="in kN">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="afc" class="col-sm-6 col-form-label">Axial Load:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='afc' name='afc' placeholder="in kN">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="rfact" class="col-sm-6 col-form-label">Rotating Race:</label>
        <div class="col-sm-3">
          <select id='rfact' name='rfact' class="form-control form-control-sm">
            <option value="Inner Race">Inner Race</option>
            <option value="Outer Race">Outer Race</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="hrperday" class="col-sm-6 col-form-label">Functional Hours/Day:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" class="form-control form-control-sm" id='hrperday' name='hrperday' placeholder="in hours">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="exp_years" class="col-sm-6 col-form-label">Expected Life:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" class="form-control form-control-sm" id='exp_years' name='exp_years' placeholder="in years">
        </div>
      </div>
    </div>
  </div>
</form>

<table id="dynamicloadcapacity" class="table table-hover table-secondary border border-dark table-bordered mb-3" style="width: 400px;">
  <tbody></tbody>
</table>

<br>
<h4>Ball Bearing Recommanded</h4>
<table id="dataTable" class="table table-hover table-dark mb-3">
  <thead>
    <tr>
      <th>Bearing Desigination</th>
      <th>Bore (in mm)</th>
      <th>OD (in mm)</th>
      <th>Width (in mm)</th>
      <th>Cd</th>
      <th>Co</th>
      <th>Reference Speed</th>
      <th>Limit Speed</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div class="row">
  <div class="col-sm-1">
    <button id ='submit' type="submit" class="btn btn-outline-dark">CALCULATE</button>
  </div>
  <div class="col sm-1">
    <button id ='reset' type="reset" class="btn btn-outline-dark">RESET</button>
  </div>
</div>

<script>
  $("#submit").on('click',function(){

    var data = {
      shaftdia: $("#shaftdia").val(),
      ang_velo: $("#ang_velo").val(),
      vfc: $("#vfc").val(),
      hfc: $("#hfc").val(),
      afc: $("#afc").val(),
      rfact: $("#rfact").val(),
      hrperday: $("#hrperday").val(),
      exp_years: $("#exp_years").val()
    };

    fetch('/bearing_cal')
      .then(response => response.html)

    fetch('/bearing_result', {
      method: 'POST',
      cache: "no-cache",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Data received successfully: ', data);
      // Manipulate or display data as required
      let tbody = document.querySelector("#dataTable tbody");
      let tbodycd = document.querySelector("#dynamicloadcapacity tbody");
      // Loop through the data and add rows to the table
      let row = document.createElement("tr");
      let rowcd = document.createElement("tr");

      let cdreq = document.createElement("td");
      cdreq.innerHTML = "<b>Required Dynamic Load Capacity (Cd)</b>";
      rowcd.appendChild(cdreq);

      let i=0;
      for (let key in data) {
        i = i+1;
        if (i<=8) {
          let beardata = document.createElement("td");
          beardata.innerHTML = data[key];
          row.appendChild(beardata);
        }
        else {
          let cdreq = document.createElement("td");
          cdreq.innerHTML = data[key];
          rowcd.appendChild(cdreq);
        }
      }
      tbody.appendChild(row);
      tbodycd.appendChild(rowcd);
    })
    .catch(error => console.error("error in sending data to server",error));      
  })
    
  $("#reset").on('click',function(){
    location.reload();
  })

</script>
{% endblock %}
