{% extends 'mechbase.html' %}
{% block title%}
  Home Page
{% endblock %}
{% block content %}
  <br>
  <h5>Welcome to the platform, Learn and Design your Machine!</h5>
  <br>
  <div class="p-3 mb-2 bg-body-secondary">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://drive.google.com/uc?id=14DuygXa44yujk4VgkQFDUhG_6xBPTqtc" class="card-img-top" alt="image of an Airplane">
          <div class="card-body">
            <h5 class="card-title">Why airplanes wait at air strips before take off?</h5>
            <p class="card-text">Turns out that the wake vortex turbulence from the tip of the wing of the planes creates a swirl effect in the air while taking off. Which can cause an airplane going just after the previous plane can roll due to vortex wind pressure which can result
              in a huge disaster and loss of life. After a major accidents in history various tests were conduted to estimate the time and the strength of these vortices for which they will remain in the air and
              can cause an hazardous accidents...</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://drive.google.com/uc?id=11wdY5f6E0Y8xktFYYd9AVvxo50GobK6O" class="card-img-top" alt="images of currency note">
          <div class="card-body">
            <h5 class="card-title">Fun facts about Money</h5>
            <p class="card-text">Inquisitive info...</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://drive.google.com/uc?id=18z1iEiwbTuoGlcFozgDIc41Lkkw7VKub" class="card-img-top" alt="images of black holes">
          <div class="card-body">
            <h5 class="card-title">What do you know about black holes?</h5>
            <p class="card-text">Inquisitive info...</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="#" class="card-img-top" alt="img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Inquisitive info...</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="#" class="card-img-top" alt="img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Inquisitive info...</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="#" class="card-img-top" alt="img">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Inquisitive info...</p>
            <a href="#" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-success">
    <hr class="border border-dark border-1 opacity-100">
  </div>
  <div class="card">
    <div class="card-header text-center mb-3">
      <h5>Quote of the Month</h5>
    </div>
    <div class="card-body text-center mb-3">
      <blockquote class="blockquote mb-0">
        <p>"Mechanical Engineers do things with less power and great efficiency!"</p>
        <footer class="blockquote-footer">Anonymous</footer>
      </blockquote>
    </div>
  </div>
{% endblock %}
