{% extends 'mechbase.html' %}
{% block title %}
  Key Design
{% endblock %}
{% block content %}
<head>  
  <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>

  <div class="mb-3 mt-5">
    <h4>Input parameters as per your application</h4>
  </div>
</head>
  
<form method="POST" action="{{ url_for('keyd_cal') }}">
  <div class="mb-3 row">
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="sdia" class="col-sm-6 col-form-label">Shaft Bore Diameter:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='sdia' name='sdia' placeholder="in mm">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="fos" class="col-sm-6 col-form-label">Factor of Safety:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" min="1" class="form-control form-control-sm" id='fos' name='fos' placeholder="fos">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="theory" class="col-sm-6 col-form-label">Failure Theory:</label>
        <div class="col-sm-4">
          <select id='theory' name='theory' class="form-control form-control-sm">
            <option selected>Choose</option>
            <option value="Max Shear Stress Theory">Max Shear Stress Theory</option>
            <option value="Distortion Energy Theory">Distortion Energy Theory</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="keytype" class="col-sm-6 col-form-label">Key Type:</label>
        <div class="col-sm-4">
          <select id='keytype' name='keytype' class="form-control form-control-sm">
            <option selected>Choose</option>
            <option value="Square key">Square key</option>
            <option value="Flat Key (rectangular)">Flat Key (rectangular)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="yield" class="col-sm-6 col-form-label">Material Yield Limit:</label>
        <div class="col-sm-3">
          <input type='number' step="0.001" class="form-control form-control-sm" id='yield' name='yield' placeholder="in MPa">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="power" class="col-sm-6 col-form-label">Power Transmitted:</label>
        <div class="col-sm-3">
          <input type='number' step="0.001" class="form-control form-control-sm" id='power' name='power' placeholder="in kW">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="nspeed" class="col-sm-6 col-form-label">Operational Angular Velocity:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" class="form-control form-control-sm" id='nspeed' name='nspeed' placeholder="in RPM">
        </div>
      </div>
    </div>
  </div>
</form>

<h4>Key's Recommanded Dimension</h4>
<table id="dataTable" class="table table-hover table-dark mb-3">
  <thead>
    <tr>
      <th>Length (in mm)</th>
      <th>Breadth (in mm)</th>
      <th>Height (in mm)</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div class="row">
  <div class="col-sm-1">
    <button id ='submit' type="submit" class="btn btn-outline-dark">CALCULATE</button>
  </div>
  <div class="col sm-1">
    <button id ='reset' type="reset" class="btn btn-outline-dark">RESET</button>
  </div>
</div>

<div class="card mt-4" style="width: auto;">
  <div class="card-header">
    <h5>Note:</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      <ol class="list-group-numbered">
        <li class="list-group-item">Lateral of the Key are evaluated as per general guidelines used in industry.</li>
        <li class="list-group-item">In case of Square key, Height & Width is taken as 1/4th of the shaft diameter.</li>
        <li class="list-group-item">In case of Flat key, Height is taken as 2/3rd of Width.</li>
        <li class="list-group-item">Keeping the Upper & Lateral Face area constant, the dimensions should be shifted according 
          to <a href="https://law.resource.org/pub/in/bis/S01/is.2048.1983.pdf">IS 2048 1983: Specification</a> for parallel keys and keyways
          to meet the standards.
        </li>
        <li class="list-group-item">For other specific functionality refer these IS standards:
          <ul>
            <li><a href="https://law.resource.org/pub/in/bis/S01/is.2292.1974.pdf">IS 2292 1974: Specification</a> for taper keys and keyways.</li>
            <li><a href="https://law.resource.org/pub/in/bis/S01/is.2293.1974.pdf">IS 2293 1974: Specification</a> for Gib-head key and keyways.</li>
            <li><a href="https://law.resource.org/pub/in/bis/S01/is.2294.1986.pdf">IS 2294 1980: Specification</a> for Woodruff keys and keyways.</li>
          </ul>
        </li>
      </ol>
    </p>
  </div>
</div>

<script>
  $("#submit").on('click',function(){

    var data = {
      sdia: $("#sdia").val(),
      fos: $("#fos").val(),
      theory: $("#theory").val(),
      keytype: $("#keytype").val(),
      yield: $("#yield").val(),
      power: $("#power").val(),
      nspeed: $("#nspeed").val()
    };

    fetch('/keyd_cal')
      .then(response => response.html)

    fetch('/key_data', {
      method: 'POST',
      cache: "no-cache",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Data received successfully: ', data);
      // Manipulate or display data as required
      let tbody = document.querySelector("#dataTable tbody");
      // Loop through the data and add rows to the table
      let row = document.createElement("tr");
      for (let key in data) {
        let k = document.createElement("td");
        k.innerHTML = data[key];
        row.appendChild(k);
      }
      tbody.appendChild(row);
    })
    .catch(error => console.error("error in sending data to server",error));      
  })
    
  $("#reset").on('click',function(){
    location.reload();
  })

</script>
{% endblock %}
