{% extends 'mechbase.html' %}
{% block title %}
  Shaft Design_Rigidity
{% endblock %}
{% block content %}
<head>  
  <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>

  <div class="mb-3 mt-5">
    <h4>Enter Application Specific Parameters</h4>
  </div>
</head>

<form method="POST" action="{{ url_for('shaftrigid_cal') }}">
  <div class="mb-3 row">
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="shaftlength" class="col-sm-6 col-form-label">Shaft Length:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='shaftlength' name='shaftlength' placeholder="in mm">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="thetamax" class="col-sm-6 col-form-label">Permissible Twisting Angle:</label>
        <div class="col-sm-3">
          <input type='number' step="0.001" class="form-control form-control-sm" id='thetamax' name='thetamax' placeholder="in deg">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="rigidity" class="col-sm-6 col-form-label">Material Rigidity Modulus:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='rigidity' name='rigidity' placeholder="in MPa">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="torsionmom" class="col-sm-6 col-form-label">Max Torsional Moment:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='torsionmom' name='torsionmom' placeholder="in N/mm">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="diar" class="col-sm-6 col-form-label">Inner/Outer Diameter Ratio:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" max="0.99" min="0" class="form-control form-control-sm" id='diar' name='diar' placeholder="Inner/Outer">
        </div>
      </div>
    </div>
  </div>
</form>
<br><br>
<h4>Shaft Recommanded Dimension</h4>
<table id="dataTable" class="table table-hover table-dark mb-3">
  <thead>
    <tr>
      <th>Outer Diameter (in mm)</th>
      <th>Inner Diameter (in mm)</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div class="row">
  <div class="col-sm-1">
    <button id ='submit' type="submit" class="btn btn-outline-dark">CALCULATE</button>
  </div>
  <div class="col sm-1">
    <button id ='reset' type="reset" class="btn btn-outline-dark">RESET</button>
  </div>
</div>

<script>
  $("#submit").on('click',function(){

    var data = {
      shaftlength: $("#shaftlength").val(),
      thetamax: $("#thetamax").val(),
      rigidity: $("#rigidity").val(),
      torsionmom: $("#torsionmom").val(),
      diar: $("#diar").val(),
    };

    fetch('/shaftrigid_cal')
      .then(response => response.html)

    fetch('/shaft_rigid', {
      method: 'POST',
      cache: "no-cache",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Data received successfully: ', data);
      // Manipulate or display data as required
      let tbody = document.querySelector("#dataTable tbody");
      // Loop through the data and add rows to the table
      let row = document.createElement("tr");
      for (let key in data) {
        let rdimens = document.createElement("td");
        rdimens.innerHTML = data[key];
        row.appendChild(rdimens);
      }
      tbody.appendChild(row);
    })
    .catch(error => console.error("error in sending data to server",error));      
  })
    
  $("#reset").on('click',function(){
    location.reload();
  })

</script>
{% endblock %}
