{% extends 'mechbase.html' %}
{% block title %}
  Shaft Design_Strength
{% endblock %}
{% block content %}

<div class="mb-3 mt-5">
  <h4>Input parameters as per your application</h4>
</div>

<form method="POST" action="{{ url_for('shaftd_cal') }}">
  <div class="mb-3 row">
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="bendingmom" class="col-sm-6 col-form-label">Max Bending Moment:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='bendingmom' name='bendingmom' placeholder="in N/mm">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="torsionalmom" class="col-sm-6 col-form-label">Max Torsional Moment:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='torsionalmom' name='torsionalmom' placeholder="in N/mm">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="yield" class="col-sm-6 col-form-label">Material Yield Limit:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" class="form-control form-control-sm" id='yield' name='yield' placeholder="in MPa">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="diaratio" class="col-sm-6 col-form-label">Inner/Outer Diameter Ratio:</label>
        <div class="col-sm-3">
          <input type='number' step="0.01" max="1" min="0" class="form-control form-control-sm" id='diaratio' name='diaratio' placeholder="Inner/Outer">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mb-3 row">
        <label for="fos" class="col-sm-6 col-form-label">Factor of Safety:</label>
        <div class="col-sm-3">
          <input type='number' step="0.1" class="form-control form-control-sm" id='fos' name='fos' placeholder="fos">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="loadtype" class="col-sm-6 col-form-label">Load Type:</label>
        <div class="col-sm-3">
          <select id='loadtype' name='loadtype' class="form-control form-control-sm">
            <option value="Gradual Load">Gradual Load</option>
            <option value="Minor Shock Load">Minor Shock Load</option>
            <option value="Heavy Shock Load">Heavy Shock Load</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="theory" class="col-sm-6 col-form-label">Failure Theory:</label>
        <div class="col-sm-4">
          <select id='theory' name='theory' class="form-control form-control-sm">
            <option value="Max Shear Stress Theory">Max Shear Stress Theory</option>
            <option value="Distortion Energy Theory">Distortion Energy Theory</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="designbase" class="col-sm-6 col-form-label">Design Basis:</label>
        <div class="col-sm-4">
          <select id='designbase' name='designbase' class="form-control form-control-sm">
            <option value="Torsion Equivalent">Torsion Equivalent</option>
            <option value="Bending Equivalent">Bending Equivalent</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" value='Submit' class="btn btn-outline-dark">Submit</button>
  </div>
</form>
<br><br>
<h4>Shaft Recommanded Dimension</h4>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <!-- Your Columns HERE -->
      <th>Outer Diameter (in mm)</th>
      <th>Inner Diameter (in mm)</th>
    </tr>
    <tr>
      {% for item in outcome %}
        <th>{{outcome[loop.index0]}}</th>
      {% endfor %}
    </tr>
  </thead>
</table>
{% endblock %}
